$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700;800&display=swap');

/*
*   Global style
*/
:root {
    --main-top-padding: 32px;

    @include respond(xl) {
        --main-top-padding: 36px;
    }

    --body-background: #DCEEFB;

    --accent-color: #0A558C;
    --accent-color-darker: #003E6B;
    --accent-color-text: #DCEEFB;
    --body-text-color: #102A43;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(0, 0%, 85%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #102A43;
        --accent-color: #B6E0FE;
        --accent-color-darker: #62B0E8;
        --accent-color-text: #102A43;
        --body-text-color: hsl(210, 36%, 96%);
        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "IBM Plex Sans", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #F0F4F8;
    --card-background-selected: #eaeaea;

    --card-text-color-main: #102A43;
    --card-text-color-secondary: #243B53;
    --card-text-color-tertiary: #334E68;
    --card-separator-color: 243B53;

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #243B53;
        --card-background-selected: #243B53;
        --card-text-color-main: #F0F4F8;
        --card-text-color-secondary: #D9E2EC;
        --card-text-color-tertiary: #BCCCDC;
        --card-separator-color: #102A43;
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: #DCEEFB;

    --heading-border-size: 4px;

    --link-background-color: #BCCCDC;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --pre-background-color: #272822;
    --pre-text-color: #DCEEFB;

    --code-background-color: #DCEEFB;
    --code-text-color: #808080;

    --table-border-color: #dadada;
    --tr-even-background-color: #efefee;

    --kbd-border-color: #dadada;

    &[data-scheme="dark"] {
        --code-background-color: #102A43;
        --code-text-color: #F0F4F8;

        --table-border-color: #102A43;
        --tr-even-background-color: #102A43;

        --blockquote-background-color: #102A43;
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #102A43;
    --pre-background-color: #DCEEFB;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #102A43;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
